{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ habit.overall_goal }} details</h1>


<div class="content">
    <h1>Habit for {{ date }}</h1>

   
    <p> {{ habit.description }}</p>
    <div class="box">
        <p><b> Action on {{ result.date_accomplished }} </b>: {{ result.daily_record }}</p>
    <p> <b> Goal Met? </b> {{ result.goal_accomplished }} </p>
    </div>
    <p>
        <a href="{% url 'date_details' year=prev_day.year month=prev_day.month day=prev_day.day %}">{{ prev_day }}</a> |
        <a href="{% url 'date_details' year=next_day.year month=next_day.month day=next_day.day %}">{{ next_day }}</a>
      </p>

    <a class= "content is-small" href="{% url 'add_result' pk=habit.pk %}">Add Record</a><br>

</div> <!-- end of first div -->
{% endblock %}